################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GmailConnector/v14/.suo
/GmailConnector.sln
*.xproj
/GmailConnectorExtention/GmailConnectorExtention.xproj.user
/.vs/config/applicationhost.config
/backend/bin
/backend/obj/Debug
/backend/backend.csproj.user
