################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GmailConnector/v14/.suo
/GmailConnector.sln
*.xproj
/GmailConnectorExtention/GmailConnectorExtention.xproj.user
/.vs/config/applicationhost.config
/backend/bin
/backend/obj/Debug
/backend/backend.csproj.user
/GCE.Backend/bin
/GCE.Backend/obj/Debug
/GCE.Backend/GCE.Backend.csproj.user
/GCE.DataAccess/bin/Debug
/GCE.DataAccess/obj/Debug
/GCE.Definitions/bin/Debug
/GCE.Definitions/obj/Debug
*.DotSettings
/GCE.MailRepo/bin/Debug
/GCE.MailRepo/obj/Debug
/GCE.Services/obj/Debug
/GCE.Services/bin/Debug
/TestResults
/GCE.Tests/bin/Debug
/GCE.Tests/obj/Debug
*.user
